<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){		
		  function irrenunciable(i){
			if (i==0){ 
				return('Renunciable');}
			else{
				return('Irrenunciable');}
		  };
		  function fecha(fecha){
			return(fecha.substring(8,10)+'/'+fecha.substring(5,7)+'/'+fecha.substring(0,4));	  
		  };		
          $.get("https://api.victorsanmartin.com/feriados/en.json",
            function(datos){
              $.each(datos.data, function(i, item){
                $("#feriados").append("<tr><td>"+item.title+"</td><td>"+fecha(item.date)+
                                      "</td><td>"+irrenunciable(item.inalienable)+
                                      "</td><td>"+item.type+"</td></tr>");
              })
            })      
        })
    </script>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <h3>Feriados Año 2023 </h3>  
        </div>
        <table class="table" id="feriados">
         <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Irrenunciable</th>
            <th scope="col">Tipo</th>
          </tr>
         </thead>
        </table>
	</div>
  </body>  